.nav {
background-color: #000000;
}

.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  font-family: Franklin Gothic Medium, sans-serif;
  padding: 15px 15px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url("BackgroundPic.jpg");
  background-color: #000000;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:200px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: Franklin Gothic Medium, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
